*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "M PLUS 1p",'Alegreya', 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
    
}

.main-header{
  height: 100vh;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/fuji.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 2;
}
.header__content{
  text-align: center;
  color: rgba(254, 251, 251, 0.988);
}

.header__title{
    
  display: block;
  font-size: 3em;
  margin-bottom: 10px;
  line-height: 1.2;
}
.header__subtitle{
  font-size: 2em;
  margin-bottom: 20px;
}
.btn__contact{
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  border: #fff 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
}

.btn__contact:hover{
  background-color:rgba(88, 200, 248, 0.406);
  font-style: italic;
}
nav{
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px #eee solid;
}

nav::after{
  content: " ";
  display: table;
  clear: both;
}



.navbar .logo{
  height: 60px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}

.navbar__list{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.nav__item{
    /* list-style-type: none; */
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
}

.nav__item a{
  text-decoration: none;
  letter-spacing: 5px;
  font-family: 'Alegreya', 'Montserrat', sans-serif;
  color: #333;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 15px;
}

.nav__item a:hover{
  background-color: #333;
  color: #fff;
  font-style: italic;
}

#btn--cta{
  background-color: rgba(88, 200, 248, 0.406);
    
}

/* About Me Section */

.about{
	height: 60vh;
	padding: 20px;
	text-align: center;
}
.about h1{
	font-family: 'Alegreya', 'Montserrat', sans-serif;
	font-size: 3rem;
	text-transform: uppercase;
}
.aboutme--container{
	margin-top: 20px;
	height: 80%;
	padding: 25px 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.aboutme__img--container{
	width: 50%;
}
.aboutme--container img{
	height: 40%;
	width: 40%;
	border-radius: 50%;
	position: relative;


}
.aboutme--container p{
	width: 50%;
	text-align: center;

}

/* Portfolio Section */
.portolio{
	margin-top: 50px;
	height: 100vh;
	font-family: 'Alegreya', 'Montserrat', sans-serif;
}
.projects h2{
	text-align: center;
	font-size: 3rem;
}

.projects__container{
	margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  height: 100vh;
  padding: 20px;
}

.projects__container .project-card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
}

.projects__container .project-card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__container .project-card .face1{
    padding: 20px;
}

.projects__container .project-card .face1 h2{
    margin: 0;
    padding: 0;
}

.projects__container .project-card .face.face2{
    transition: 1.5s;
}

.projects__container .project-card:nth-child(1) .face.face2{
    background: #333 url('/img/task_list.png') center center/ contain no-repeat;
}
.projects__container .project-card:nth-child(2) .face.face2{
    background: #333 url('/img/pig_game.png') center center/ contain no-repeat;
}
.projects__container .project-card:nth-child(3) .face.face2{
    background: #333 url('/img/calculator.png') center center/ cover no-repeat;
}

/* .projects .project-card .face.face2:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
} */

.projects__container .project-card:hover .face.face2{
    height: 60px;
    background: #fff;
}

.projects__container .project-card .face.face2 h2{
    display: none;
}
.projects__container .project-card:hover .face.face2 h2{
    display: inline;
    font-size: 2em;
    color: #111;
}


@media(max-width: 568px){
    .main-header{
        background-attachment: scroll;
    }
}