*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "M PLUS 1p",'Alegreya', 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: rgba(240, 237, 238, 0.283);
    
}

/* global classe */

.section__title{
	font-family: 'Alegreya', 'Montserrat', sans-serif;
	text-decoration: underline;
	font-size: 3rem;
	text-align: center;
}

.main-header{
  height: 100vh;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/fuji.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 2;
}
.header__content{
  text-align: center;
  color: rgba(254, 251, 251, 0.988);
}

.header__title{
    
  display: block;
  font-size: 3em;
  margin-bottom: 10px;
  line-height: 1.2;
}
.header__subtitle{
  font-size: 2em;
  margin-bottom: 20px;
}
.btn__contact{
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  border: #fff 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
}

.btn__contact:hover{
  background-color:rgba(88, 200, 248, 0.406);
  font-style: italic;
}
nav{
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px #eee solid;
}

nav::after{
  content: " ";
  display: table;
  clear: both;
}



.navbar .logo{
  height: 60px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}

.navbar__list{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.nav__item{
    /* list-style-type: none; */
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
}

.nav__item a{
  text-decoration: none;
  letter-spacing: 5px;
  font-family: 'Alegreya', 'Montserrat', sans-serif;
  color: #333;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 15px;
}

.nav__item a:hover{
  background-color: #333;
  color: #fff;
  font-style: italic;
}

#btn--cta{
  background-color: rgba(88, 200, 248, 0.406);
    
}

/* About Me Section */

.about{
	height: 60vh;
	padding: 20px;
	text-align: center;

}

.aboutme--container{
	margin-top: 20px;
	height: 80%;
	padding: 25px 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	
}
.aboutme__img--container{
	width: 50%;
}
.aboutme--container img{
	height: 40%;
	width: 40%;
	border-radius: 50%;
	position: relative;


}
.aboutme--container p{
	width: 50%;
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.2rem;

}

/* Portfolio Section */
.portfolio{
	margin-top: 50px;
	/* padding-top: 50px; */
	height: 100vh;
  font-family: 'Alegreya', 'Montserrat', sans-serif;
  padding: 10px 50px;
  background-color: #fff;
}
.portfolio h1{
  margin-bottom: 30px;
}

.portfolio-deck__container{
  /* position:relative; */
  display: flex;
  align-items: flex-start;
}
.card{
  position: absolute;
}

.card__front{
  width: 360px;
  height: 400px;

}
.card__front img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: .5s;
}

.card__front:hover
img {
  opacity: .5;
  transform: translateX(30%);
}

.card__back{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: rgb(88, 200, 248);
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg)
}

.card:hover .card__back{
  transform: perspective(2000px) rotateY(0deg);
}

.card__content{
  padding: 20px;
  text-align: center;
  background: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)

}
.card__content h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card__content span{
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.card__content p {
  margin: 10px 0;
  padding: 0;
  color: #fff;
}
.card__content ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card__content ul li {
  list-style: none;
  margin: 5px 5px;
  width: 100%;

}
.card__content ul li a {
  display: block;
  border-radius: 30px;
  background: rgb(88, 200, 248);
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  transform: .5s;
  color: #fff;
}
.card__content ul li a:hover {
  background: #fff;
  color: #333;
}






@media(max-width: 568px){
    .main-header{
        background-attachment: scroll;
    }
}