*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin-top: 900px;
    height: 100vh;
}

.projects .project-card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
}

.projects .project-card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .project-card .face1{
    padding: 20px;
}

.projects .project-card .face1 h2{
    margin: 0;
    padding: 0;
}

.projects .project-card .face.face2{
    /* background-image: url('/img/accordion_menu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    transition: 1.5s;
}

.projects .project-card:nth-child(1) .face.face2{
    background: #333 url('/img/task_list.png') center center/ contain no-repeat;
}
.projects .project-card:nth-child(2) .face.face2{
    background: #333 url('/img/pig_game.png') center center/ contain no-repeat;
}
.projects .project-card:nth-child(3) .face.face2{
    background: #333 url('/img/calculator.png') center center/ cover no-repeat;
}

/* .projects .project-card .face.face2:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
} */

.projects .project-card:hover .face.face2{
    height: 60px;
    background: #fff;
}

.projects .project-card .face.face2 h2{
    display: none;
}
.projects .project-card:hover .face.face2 h2{
    display: inline;
    font-size: 2em;
    color: #111;
}

